<ion-view title="Ionic Sorter">
    <ion-content>
        <ion-list sortable draggable=".card" sorted="onReorder($fromIndex, $toIndex)">
            <ion-item ng-repeat="contact in contacts" class="item-light item-avatar card item-complex">
                <div class="item-content">
                    <img ng-src="img/{{contact.img}}" />
                    <div class="item-divider">{{contact.name}}</div>
                    <div class="item-text-wrap">
                        <ul>
                            <li>Phone: {{contact.phone}}</li>
                            <li>Mobile: {{contact.mobile}}</li>
                            <li>Email: {{contact.email}}</li>
                        </ul>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>